@charset "UTF-8";

@media screen and (min-width: 768px) {
    
    #container {
        width: 400px;
        height: 560px;
    }

    .image > img {
        display: block;
        width: 88%;
        margin-top: 24px;
    }

    .text h1 {
        padding: 25px;
    }

}